FLASK_SECRET_KEY=replace-with-a-long-random-secret
DB_HOST=192.168.2.200
DB_USER=webuser
DB_PASSWORD=replace-with-db-password
DB_NAME=login_db
TRUST_PROXY_HEADERS=false
SESSION_COOKIE_SECURE=false
TARGET_LOGIN_URL=http://192.168.2.100:5000/login
ATTACK_LOG_FILE=attack.log
